.cards-d-cont{
    display: flex;
    justify-content: center;
    color: black;
    margin-bottom: 30px;
}

.card-img-d{
    height: 550px;
    object-fit: cover;
    border-radius: 10px;
}

.card-d{
    position: relative;
    border-radius: 10px;
    
    
}
.card-d-body{
    position: absolute;
}

.card-d-title{
    font-size: 41px
}