.cards-cont{
    display: flex;
    justify-content: center;
    color: black;
}


.card-img{
    height: 150px;
    object-fit: cover;
    
}

.card{
    background-color: rgb(161, 161, 161);
    cursor: pointer;
    transition: 1.9s;
    transition: 0.5s all ease-in-out;
}







