@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Lato&family=M+PLUS+1:wght@400;500;600;700;800&family=Outfit:wght@300&family=Playfair+Display:wght@700&family=Roboto+Slab:wght@400;500;800&family=Vujahday+Script&family=Zen+Kurenaido&display=swap');

/* h1, h3{
    color: rgb(96, 1, 43) !important;
} */

.page-cont{
    height: 100hv;
}
h1{
    font-size: 64px;
}
.span-name{
    font-family: 'Vujahday Script', cursive;
    color: black;
}

.page-btn{
    background-color: rgb(96, 1, 43) !important;
}

.main-page-cont{
    display: flex;
    align-items: center;
    align-content: center;
    height: 100vh;
}
h3{
    font-size: 32px
}
.logo-page{
    width: 40px;
    margin-left: 70px;
    
}

.logo-page:hover{
    background-color: rgb(221, 221, 221);
    border-radius: 50%;

}
.ask-btn, .ask-btn:hover{
      background-color: white;
      color: black;
      /* box-shadow: 2px 3px #888888; */
      border-radius: 99px;
      font-weight: bold;

}
.navbar-page{
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.nav-btn{
    margin-right: 70px;
}
.nav-img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

@media (max-width: 770px) {
    h1{
    font-size: 34px;
}
h3{
    font-size: 18px
}
/* .mage2-buttons-cont{
    display: none;
} */
}

.my-nav-p2{
    position: fixed;
    z-index: 1;
    width: 100%;
}


.p2-card{
    width: 500px;
    border-radius: 30px;
    height: 330px;
    position: relative;
}
.p2-card-img{
    height: 300px;
    object-fit: cover;
    width: 500px;
    cursor: pointer;
    border-radius: 15px;
    height: 330px;
}
.p2-card-body{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    top: 20px;
    left: 30px;
}
.p2-btn-card{
    position: absolute;
    bottom: 40px;
}
.card-text-p2{
    font-weight: bolder;
}
.page2-img{
    border-radius: 15px;
    height: 350px;
    object-fit: cover;
}



@media (max-width: 650px) {
    .card-text-p2{
        font-size: 25px;
    }
    .page2-img{
        border-radius: 15px;
        height: 270px;
        object-fit: cover;
    }    
    .p2-card-body{
        left: 20px;
    }
}
@media (max-width: 570px) {
    .card-text-p2{
        font-size: 20px;
    }
    .page2-img{
        border-radius: 15px;
        height: 220px;
        object-fit: cover;
    }    
    .p2-card-body{
        left: 10px;
    }
}

.row__poster{
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-left: 35px;
    /* padding-right: 35px; */
}
.row__poster::-webkit-scrollbar{
    display: none;
}
.p2-col{
    width: 600px;
    /* display: flex;
    justify-content:space-between */
}
.card-cont-p2{
    display: flex;
    justify-content: center
}

.p2-card-title{
    font-size: 15px
}
@media (max-width: 570px) {
    .p2-card{
        position: relative;
        width: 300px;
    }
}

.page3-img{
    border-radius: 15px;
    height: 250px;
    object-fit: cover;
}

p, span, h5{
    color: black;
}
.anyone-text{
    
    font-size: large
}
.trip-cost{
    font-size: 14px
}
.trip-cost-span{
    font-weight: bold;
}

.p3-card{
    position: relative;
}
.img-badge{
    position: absolute;
    right:5px;
    top: 5px;
}

.badge-image{
    width: 30px;
}

.showMore-text{
    font-size: 10px
}

.p3p3-card{
    flex-direction: row;
    display: flex;
    border-radius: 15px;
    width: 100%
}

.p3p3-img{
    width: 170px;
    height: 100%;
    border-radius: 15px;
    background-color: transparent;
    padding: 5px;
    object-fit: cover;
}

.p3p3-button{
    font-size: x-small;
}
.buttons-cont-p3{
    position:absolute;
    bottom:20px
}
@media (max-width: 570px) {
    .p3p3-card{
        display:flex;
        flex-direction: column;
    }
    .p3p3-img{
        width: 100%;
        border-radius: 15px;
        background-color: transparent;
        padding: 5px;
        object-fit: cover;
    }
    .buttons-cont-p3{
        position: relative;
        margin-top: 30px;
    }
}







.load-more-btn{
    display: flex;
    justify-content: center;
}

.load-more-button{
    background-color: rgb(34, 34, 34);
    border-radius: 15px;
}
.load-more-button:hover{
    background-color: rgb(70, 70, 70);
    border-radius: 15px;
}

.secondary-btn{
    border-radius: 99px;
}
.secondary-btn:hover{
    border-radius: 99px;
    background-color: transparent;
    color: black;
    border-color: black;
}

.more-bts{
    border-radius: 99px;
    background-color: rgb(182, 182, 182);
}
.more-bts:hover{
    border-radius: 99px;
    background-color: rgb(182, 182, 182);
}
.span-name-spans{
    position: relative;
}
.span-name-spans span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: rgb(0, 0, 0);
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i));
  font-size: 60px;
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
.form-main-div{
    background-color: rgb(255, 255, 255);
   width: 70%;
   border-radius: 32px
   
}
.main-form-cont{
 display: flex;
   justify-content: center;
 background-color: black;
 padding-top: 85px;
}
.nav2-item{
    background-color: #ffffff;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%
}
.nav2-item:hover{
    background-color: rgb(236, 236, 236);
    border-radius: 32px;
    cursor: pointer;
}

.bi-search-nav{
    background-color: #ff385c;
    border-radius: 32px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    position: absolute;
    right: 9px
    
}


.bi-search-nav:hover{
    background-color: rgb(218, 10, 10)
}


.nav2-item-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.vl {
  border-left: 0.5px solid rgb(185, 185, 185);
  height: 55%;
  
}

.vl-dic{
    display: flex;
  align-items: center;
}
@media (max-width: 800px) {
    .main-form-cont{
        display: none;
}

}
@media (max-width: 900px) {
    
    .form-main-div{
    width: 90%;
    
    }
}

/* gift cards */

.gift-text-cont{
    background: rgb(229,229,229);
    background: linear-gradient(90deg, rgba(229,229,229,1) 0%, rgba(236,236,236,1) 50%, rgba(241,241,241,1) 100%);
    width: 42vw;
    height: 500px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.gift-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gift-img{
    width: 43vw;
    height: 500px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}
.gift-main-cont{
    padding-top: 20px;
    padding-bottom: 20px;
    /* background: rgb(255,255,255);
    background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); */

    /* half black half white */
    background-image: linear-gradient(180deg, black 50%, white 50%)
}

@media (max-width: 810px) {
    .gift-cont{
        flex-direction: column;
    }
    .gift-img{
        width: 82vw;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;

    }
    .gift-text-cont{
        width: 82vw;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        background: rgb(229,229,229);
        background: linear-gradient(360deg, rgba(229,229,229,1) 0%, rgba(236,236,236,1) 50%, rgba(241,241,241,1) 100%);
    }
}

@media (max-width: 710px) {
    .gift-cont{
        flex-direction: column;
    }
    .gift-img{
        height: 400px;

    }
    .gift-text-cont{
        height: 400px;
    }
}

@media (max-width: 610px) {
    .gift-cont{
        flex-direction: column;
    }
    .gift-img{
        height: 300px;

    }
    .gift-text-cont{
        height: 300px;
    }
}


/* gift cards inside */

.gift-redeem{
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    padding-right: 30px;
    text-decoration: underline;
}

.gift-i-text{
    color: black;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
}


.airbnb-text-gift-i{
    margin-bottom: -79px;
}

@media (max-width: 710px) {
    .gift-i-text{
        font-size: 80px
    }
    .airbnb-text-gift-i{
    margin-bottom: -39px;
}
}
@media (max-width: 510px) {
    .gift-i-text{
        font-size: 50px
    }
}

.gift-i-text-cont{
    width: 100%;
    padding-top: 120px;
}

.gift-i-card-img{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* .text-cont-i-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
} */
.text-cont-i-2>h2{
    color: black;
    text-align: center;
    font-size: 52px
}
.text-cont-i-2-2{
    margin-bottom: -7px;
}

.gift-i-card{
    position: relative;
    border-radius: 15px;
}

.gift-i-card-body{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.gift-i-card-img2{
    height: 60px;

}
.giftCard-img-i{
    border-radius: 15px;
    height: 200px;
    object-fit: cover;
}

.north-light-img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.north-light-cont{
    position: relative;
}
.great-place-to-stay{
    position: absolute;
    top: 170px;
    left: 100px;
    font-size: 52px;
}

.corporate-cont{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 70px;
}
.corporate-cont1{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 70px;
}

@media (max-width: 950px) {
    .corporate-cont, .corporate-cont1{
        flex-direction: column;
    }
}

.arrow-text-cont{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: flex-start;
}
.arrow-text{
    padding-right: 140px;
    font-size: 18px;
    margin-bottom: 5px;
}

.bi-caret-down{
    font-size: 20px;
}

