@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Lato&family=M+PLUS+1:wght@400;500;600;700;800&family=Outfit:wght@300&family=Playfair+Display:wght@700&family=Roboto+Slab:wght@400;500;800&family=Vujahday+Script&family=Zen+Kurenaido&display=swap');

/* h1, h3{
    color: rgb(96, 1, 43) !important;
} */

.page-cont{
    height: 100hv;
}
h1{
    font-size: 64px;
}
.span-name{
    font-family: 'Vujahday Script', cursive;
    color: black;
}

.page-btn{
    background-color: rgb(96, 1, 43) !important;
}

.main-page-cont{
    display: flex;
    align-items: center;
    align-content: center;
    height: 100vh;
}
h3{
    font-size: 32px
}
.logo-page{
    width: 40px;
    margin-left: 70px;
    
}

.logo-page:hover{
    background-color: rgb(221, 221, 221);
    border-radius: 50%;

}
.ask-btn, .ask-btn:hover{
      background-color: white;
      color: black;
      /* box-shadow: 2px 3px #888888; */
      border-radius: 99px;
      font-weight: bold;

}
.navbar-page{
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.nav-btn{
    margin-right: 70px;
}
.nav-img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

@media (max-width: 770px) {
    h1{
    font-size: 34px;
}
h3{
    font-size: 18px
}
}

.my-nav-p2{
    position: fixed;
    z-index: 1;
    width: 100%;
}

.p2-card-img{
    height: 300px;
    object-fit: cover;
    width: 500px;
    transition: transform 450ms;
    cursor: pointer;
    border-radius: 15px;
    height: 330px;
}
.p2-card{
    position: relative;
    width: 500px;
    border-radius: 30px;
    height: 330px;
}
.p2-card-body{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.p2-btn-card{
    width: 100px;
}

.row__poster{
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-left: 35px;
    padding-right: 35px;
}
.row__poster::-webkit-scrollbar{
    display: none;
}
.p2-col{
    width: 600px;
    display: flex;
    justify-content:space-between
}
.card-cont-p2{
    display: flex;
    justify-content: center
}
.card-text-p2{
    font-weight: bolder;
}
.p2-card-title{
    font-size: 15px
}
@media (max-width: 570px) {
    .p2-card{
        position: relative;
        width: 300px;
    }
}

.page3-img{
    border-radius: 15px;
    height: 250px;
    object-fit: cover;
}
p, span, h5{
    color: black;
}
.anyone-text{
    
    font-size: large
}
.trip-cost{
    font-size: 14px
}
.trip-cost-span{
    font-weight: bold;
}

.p3-card{
    position: relative;
}
.img-badge{
    position: absolute;
    right:5px;
    top: 5px;
}

.badge-image{
    width: 30px;
}

.showMore-text{
    font-size: 10px
}

.p3p3-card{
    flex-direction: row;
    display: flex;
    border-radius: 15px;
    width: 100%
}

.p3p3-img{
    width: 170px;
    height: 100%;
    border-radius: 15px;
    background-color: transparent;
    padding: 5px;
    object-fit: cover;
}

.p3p3-button{
    font-size: x-small;
}

.buttons-cont-p3{
    position:absolute;
    bottom:20px
}

.load-more-btn{
    display: flex;
    justify-content: center;
}

.load-more-button{
    background-color: rgb(34, 34, 34);
    border-radius: 15px;
}
.load-more-button:hover{
    background-color: rgb(70, 70, 70);
    border-radius: 15px;
}

.secondary-btn{
    border-radius: 99px;
}
.secondary-btn:hover{
    border-radius: 99px;
    background-color: transparent;
    color: black;
    border-color: black;
}

.more-bts{
    border-radius: 99px;
    background-color: rgb(182, 182, 182);
}
.more-bts:hover{
    border-radius: 99px;
    background-color: rgb(182, 182, 182);
}

