.img-container>img{
    width:100%;
    height: 550px;
    object-fit: cover;
    margin-bottom: 30px;
}

.img-container{
    position: relative;
}

.img-container>h1{
    font-size: 80px;
    position: absolute;
    top: 30px;
    left: 80px;
}

.btn-text2{
    position: absolute;
    top: 430px;
    left: 80px;
}

@media (max-width: 550px) {
    .img-container>h1{
    font-size: 40px;
    left: 30px;
    top: 100px;
}
.btn-text2{
    position: absolute;
    top: 430px;
    left: 30px;
}
}