*{
    color: white;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    z-index: 1;
}

.text-container{
    display: flex;
    justify-content: space-between;
}

.text-container>p{
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
    color:white;
    justify-content:space-between;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    
}


.text-container>p:hover{
    color:rgb(199, 199, 199);
}



.buttons-container{
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 0;
}
.button-container{
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 0;
    color: black !important;
}

.buttons-nav{
    color: white;
    border-radius: 99px;
}
.buttons-nav1{
    border-radius: 99px;
}
.buttons-nav2{
    border-radius: 99px;
    color: black !important;
}

.button-4>span{
    color: black;
    
}
.buttons-nav:hover{
    color: white;
    background-color:rgb(82, 82, 82)
}

.world-png{
    width: 20px;
    height: 20px;
     display: flex;
    align-items: center;
    align-content: center;
}

.button-3{
    
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}
.search-bar{
    background-color: blueviolet;
    height: 40px
}


@media (max-width: 845px) {
    .text-container{
        display: none;
    }
}

@media (max-width: 390px) {
    .buttons-nav{
        display: none;
    }
}

@media (max-width: 245px) {
    .buttons-nav1{
        display: none;
    }
}

.navbar-logo-2{
    width: 750px;
}

.logo-cont{
    display: flex;
    justify-content: center;
    background-color: black;
}

@media (max-width: 1000px) {
    .logo-cont{
        display: none;
    }
}