body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: black; */
   
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
}

/* Scrollbar hidden but working */
/* ::-webkit-scrollbar {
  
  width: 7px;
  background-color: transparent
}
::-webkit-scrollbar-thumb {
  background-color: rgb(105, 105, 105);    
  border-radius: 20px; 
}
::-webkit-scrollbar-track {
  background: white;        
} */